<h1>Sign up</h1>
<%= form_for(@user) do |u|%>

<%= u.label :name %><br />
<%= u.text_field :name %><br />

<%= u.label :email %><br />
<%= u.text_field :email %><br />

<%= u.label :password %><br />
<%= u.password_field :password %><br />

<%= u.label :password_confirmation %><br />
<%= u.password_field :password_confirmation %><br />

<br />
<%= u.submit "Sign up" %>

<% end %>
